.lm-calendar .lm-modal {
    display: flex;
    flex-direction: column;
}

.lm-calendar-controllers {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 10px 0px;
}

.lm-calendar-controllers button {
    all: unset;
    background-color: #E5E5E5;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    font-weight: bold;
}

.lm-calendar-controllers button:hover {
    background-color: #C5C5C5;
    cursor: pointer;
}

.lm-calendar-controllers > div {
    padding: 0px 15px;
    display: flex;
    justify-content: space-evenly;
}

.lm-calendar-controllers > div > div {
    text-align: center;
}

.lm-calendar-controllers > div:nth-child(1) > div {
    width: 50px;
}

.lm-calendar-controllers > div:nth-child(2) > div {
    width: 100px;
}

.lm-calendar-table-wrapper {
    flex-grow: 1;
    padding: 5px 10px;
    padding-bottom: 30px;
}

.lm-calendar table {
    height: 100%;
    width: 100%;
}

.lm-calendar td {
    text-align: center;
}

.lm-calendar td:not([value=""]):hover {
    background-color: #E5E5E5;
    cursor: pointer;
}

.lm-calendar td:not([value=""]) {
    border-radius: 5px;
    font-size: 1.3em;
}

.lm-calendar td.selected {
    background-color: #C5C5C5 !important;
}