/** Contextmenu */

.lm-menu .lm-modal {
    color: #555;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    max-height: calc(100vh - 94px);
    overflow-y: auto;

    width: initial;
    height: initial;
    min-height: initial;
}

.lm-menu-submenu {
    padding-top: 1px;
    padding-bottom: 1px;
}

.lm-menu-submenu > div {
    box-sizing: border-box;
    display: flex;
    padding: 0 12px 0 32px;
    width: 250px;
    font-size: 11px;
    font-family:sans-serif;
    text-align: left;
    align-items: center;
}

.lm-menu-submenu > div a {
    text-decoration: none;
    flex: 1;
    cursor: pointer;
    line-height: 28px;
}

.lm-menu-submenu > div span {
    margin-right: 10px;
}

.lm-menu-submenu > div[data-submenu="true"]::after {
    content: '\25B6'
}

.lm-menu-submenu > div::before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-size: 15px;
    position: absolute;
    left: 9px;
    line-height: 24px;
}

.lm-menu-submenu.symbols > div::before {
    font-family: 'Material Symbols Outlined';
}

.lm-menu-submenu > div.disabled {
    color: #ccc;
}

.lm-menu-submenu > div:hover {
    background: #ebebeb;
}

.lm-menu-submenu hr {
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    margin-top:5px;
    margin-bottom:5px;
}


/** Topmenu */



.lm-topmenu-options {
    display: flex;
}

.lm-topmenu-options > div {
    padding: 10px;
}







